vrrp_script chk_vmauth {
  script "/usr/local/bin/check_vmauth.sh"
  interval 5
  timeout 3
  fall 3
  rise 2
}

vrrp_instance VI_1 {
{% if inventory_hostname in groups['vmauth-read'] %}
  state {{ 'MASTER' if inventory_hostname == groups['vmauth-read'][0] else 'BACKUP' }}
  priority {{ 200 if inventory_hostname == groups['vmauth-read'][0] else 100 }}
{% elif inventory_hostname in groups['vmauth-write'] %}
  state {{ 'MASTER' if inventory_hostname == groups['vmauth-write'][0] else 'BACKUP' }}
  priority {{ 200 if inventory_hostname == groups['vmauth-write'][0] else 100 }}
{% endif %}
  interface {{ keepalived_interface }}
  virtual_router_id 100
  advert_int 1

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_auth_pass }}
  }

  virtual_ipaddress {
    {{ keepalived_vip }}
  }

  track_script {
    chk_vmauth
  }
}
