apiVersion: 1

datasources:
  - name: VictoriaMetrics - cluster
    type: victoriametrics-metrics-datasource
    # <string, required> Sets the access mode, either
    # proxy or direct (Server or Browser in the UI).
    # Some data sources are incompatible with any setting
    # but proxy (Server).
    access: proxy
    url: http://{{ hostvars["vmauth-read"].ansible_host }}:8481/select/
    isDefault: true
