services:
  vmselect:
    image: "{{ (container_registry_repository | default('')) ~ '/' if container_registry_repository | default('') else '' }}victoriametrics/vmselect:latest"
    container_name: vmselect
    ports:
      - 8481:8481
    command:
{% for cmd in vmselect_command %}
      - "{{ cmd }}"
{% endfor %}
{% for host in groups['vmstorage'] %}
      - "-storageNode={{ hostvars[host].ansible_host }}:8401"
{% endfor %}
    restart: always

networks:
  monitoring:
    external: true
