- targets:
{% for target in groups['vmagent'] %}
{% if ansible_host == hostvars[target].ansible_host %}
    - vmagent:8429
{% else %}
    - {{ hostvars[target].ansible_host }}:8429
{% endif %}
{% endfor %}
  labels:
    job: vmagent

- targets:
{% for target in groups['vmauth'] %}
{% if ansible_host == hostvars[target].ansible_host %}
    - vmauth:8427
{% else %}
    - {{ hostvars[target].ansible_host }}:8427
{% endif %}
{% endfor %}
  labels:
    job: vmauth

- targets:
{% for target in groups['vmalert'] %}
{% if ansible_host == hostvars[target].ansible_host %}
    - vmalert:8880
{% else %}
    - {{ hostvars[target].ansible_host }}:8880
{% endif %}
{% endfor %}
  labels:
    job: vmalert

- targets:
{% for target in groups['vminsert'] %}
{% if ansible_host == hostvars[target].ansible_host %}
    - vminsert:8480
{% else %}
    - {{ hostvars[target].ansible_host }}:8480
{% endif %}
{% endfor %}
  labels:
    job: vminsert

- targets:
{% for target in groups['vmselect'] %}
{% if ansible_host == hostvars[target].ansible_host %}
    - vmselect:8481
{% else %}
    - {{ hostvars[target].ansible_host }}:8481
{% endif %}
{% endfor %}
  labels:
    job: vmselect

- targets:
{% for target in groups['vmstorage'] %}
{% if ansible_host == hostvars[target].ansible_host %}
    - vmstorage:8482
{% else %}
    - {{ hostvars[target].ansible_host }}:8482
{% endif %}
{% endfor %}
  labels:
    job: vmstorage
