apiVersion: 1

datasources:
  - name: VictoriaMetrics - {{ read_path }}
    type: victoriametrics-metrics-datasource
    access: proxy
    url: http://{{ vmauth_read_vip }}:8427{{ read_path }}
    #isDefault: true
