apiVersion: 1

datasources:
  - name: VictoriaMetrics - cluster
    type: victoriametrics-metrics-datasource
    access: proxy
    url: http://{{ vmauth_read_vip }}:8481{{ vm_remote_read_path }}
    isDefault: true
