services:
  alertmanager:
    image: "{{ (container_registry_repository | default('')) ~ '/' if container_registry_repository | default('') else '' }}prom/alertmanager:latest"
    container_name: alertmanager
    ports:
      - 9093:9093
      - 9094/tcp:9094/tcp
      - 9094/udp:9094/udp
    volumes:
      - alertmanager-data:/data
      - ./config/alertmanager:/etc/alertmanager
    command:
{% for cmd in alertmanager_command %}
      - "{{ cmd }}"
{% endfor %}
{% for host in groups['alertmanager'] %}
{% if host != inventory_hostname %}
      - "--cluster.peer={{ hostvars[host].ansible_host }}:9094"
{% endif %}
{% endfor %}
    restart: always

networks:
  monitoring:
    external: true

volumes:
  alertmanager-data:
