services:
  vminsert:
    image: "{{ (container_registry_repository | default('')) ~ '/' if container_registry_repository | default('') else '' }}victoriametrics/vminsert:latest"
    container_name: vminsert
    ports:
      - 8480:8480
    command:
{% for host in groups['vmstorage'] %}
      - "--storageNode={{ hostvars[host].ansible_host }}:8400"
{% endfor %}
{% for cmd in vminsert_command %}
      - "{{ cmd }}"
{% endfor %}
    restart: always

networks:
  monitoring:
    external: true
