[defaults]
forks = 10
host_key_checking = False
inventory = inventory/hosts.yml
callback_format_pretty = True
# bin_ansible_callbacks = True
# callback_result_format = yaml
# callbacks_enabled = timer, profile_tasks

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
