services:
  vmstorage:
    image: {{ (container_registry_repository | default('')) ~ '/' if container_registry_repository | default('') else '' }}victoriametrics/vmalert:latest
    container_name: vmalert
    ports:
      - 8880:8880
    volumes:
      - ./config:/etc/alerts
    command:
{% for cmd in vmalert_command %}
      - "{{ cmd }}"
{% endfor %}
{% for host in groups['alertmanager'] %}
{% if ansible_host == hostvars[host].ansible_host %}
      - "-notifier.url=http://alertmanager:9093/"
{% else %}
      - "-notifier.url=http://{{ hostvars[host].ansible_host }}:9093/"
{% endif %}
{% endfor %}
{% for path in vm_remote_read_path %}
      - "-remoteRead.url=http://{{ vmauth_read_vip }}:8427{{ path }}"
{% endfor %}
{% for path in vm_remote_write_path %}
      - "-remoteWrite.url=http://{{ vmauth_write_vip }}:8427{{ path }}"
{% endfor %}
    restart: always

networks:
  monitoring:
    external: true
